/*


!.gitignore
!README.md

!Assets/
Assets/*
!Assets/Scripts/
Assets/Scripts/*

!Assets/Scripts/**


!Assets/**/*.asmdef

/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/MemoryCaptures/
/UserSettings/
/Packages/
/ProjectSettings/

Assets/**/*.meta
Assets/**/*.prefab
Assets/**/*.unity
Assets/**/*.mat
Assets/**/*.asset
Assets/**/*.png
Assets/**/*.jpg
Assets/**/*.fbx
Assets/**/*.wav
Assets/**/*.mp3
Assets/**/*.shader
Assets/**/*.controller
Assets/**/*.anim

.vs/
*.csproj
*.sln
*.user
*.pidb
*.unityproj

.DS_Store
Thumbs.db
